@font-face {
    font-family: "sharp";
    src: url(fonts/SharpGrotesk-Light20.otf);
  }

  @font-face {
    font-family: "sharpB";
    src: url(fonts/SharpGrotesk-Medium20.otf);
  }


body {
    background-color:sandybrown;
}

header h2 {
      font-family: "sharpB";
      text-align: center;
      color: white;
  }

header h4 {
    font-family: "sharp";
    text-align: center;
    color: white;
    line-height: 0.2rem;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper .producto, .wrapper2 div {
    border-radius: 20px;
    padding: 1rem;
    background-color:lightyellow;
  }

  .wrapper2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper2 div {
      min-height: 200px;
      margin-top: 1rem;
  }