@font-face {
    font-family: "sharp";
    src: url(fonts/SharpGrotesk-Light20.otf);
  }

  @font-face {
    font-family: "sharpB";
    src: url(fonts/SharpGrotesk-Medium20.otf);
  }

  * {
    font-family: "sharp";
  }

body {
    background-color:sandybrown;
}

header {
  margin-top: 3rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

header h2 {
  font-family: "sharpB";
  text-align: left;
  color: white;
  }

header h4 {
  font-family: "sharp";
  text-align: left;
  color: white;
  line-height: 0.2rem;
  
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

.wrapper .producto {
    border-radius: 20px;
    padding: 1rem;
    background-color:lightyellow;
  }

.desc, .precio {
  text-align: center;
}
.wrapper2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.wrapper2 div {
  border-radius: 20px;
  padding: 1rem;
}

.wrapper2 img {
  padding: 1rem;
}

.wrapper2-while img {
  opacity: 50%;
}

.cesta {
  background-color:chocolate;
  text-align: center;
}

.total-cont {
  background-color: cornsilk;
}

.wrapper2 div img {
  padding: 2rem;
}

.wrapper2 button {
  padding: 10px;
}

.total {
  font-size: 1.2rem;
}